<mat-card class="button">
    <a mat-raised-button color="accent" routerLink="/pedidos" >Listado de pedidos</a>
</mat-card>

<ng-container>
    <form
    class="needs-validation"
    novalidate
    [formGroup]="headForm"
    (ngSubmit)="onSubmitHead()"
    ng-readonly="createHead">
        <mat-card>
            <mat-card-content>
                <section>
                    <mat-form-field class="inputSmall" appearance="fill">
                        <mat-label>Serie</mat-label>
                        <mat-select formControlName="Serie" placeholder="Selecciona una serie" [(value)]="selectedSerie">
                          <mat-option *ngFor="let item of serie" [value]="item.value">
                            {{item.viewValue}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="inputBig" *ngIf = "customer" appearance="fill"  >
                        <mat-label>Cliente</mat-label>
                        <mat-select formControlName="CodCli" (selectionChange)="onChangeCustomer($event)" placeholder="Selecciona un cliente" [(value)]="selectedCodCli">
                          <mat-option *ngFor="let item of customer" [value]="item.IdCliente">
                            {{item.Nombre}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="inputSmall" appearance="fill">
                        <mat-label>Dto. pronto pago</mat-label>
                        <input matInput
                          formControlName="DtoPP" type="number" min=0 max=100 step=0.01 ng-readonly="true">
                    </mat-form-field>

                    <mat-form-field class="inputMedium" *ngIf = "payments$" appearance="fill"  >
                        <mat-label>Forma de pago</mat-label>
                        <mat-select formControlName="CodFormaPago" placeholder="Selecciona una forma de pago" [(value)]="selectedPayment">
                          <mat-option *ngFor="let pay of payments$ | async" [value]="pay.IdFormaPago">
                            {{pay.Nombre}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </section>
            </mat-card-content>
            <button mat-raised-button color="primary"
            type="submit"
            class="btn btn-primary btn-lg"
            [disabled]="headForm.invalid || createHead"
            
          >
            Grabar
          </button>

        </mat-card>
      
    </form>
</ng-container>
<div>
      <mat-form-field >
        <mat-label>Búsqueda</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Dígite el texto a buscar" #input>
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      
          <ng-container matColumnDef="Imagen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Imagen </th>
            <td mat-cell *matCellDef="let element">
              <img src={{element.Imagen}}  style="max-width:100%;width:auto;height:auto;"/>
            </td>
          </ng-container>
      
          <ng-container matColumnDef="Articulo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Artículo </th>
            <td mat-cell *matCellDef="let element"> {{element.Articulo}} </td>
          </ng-container>
      
          <ng-container matColumnDef="Sku">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> SKU </th>
            <td mat-cell *matCellDef="let element"> {{element.Sku}} </td>
          </ng-container>

          <ng-container matColumnDef="RefProveedor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ref. proveedor </th>
            <td mat-cell *matCellDef="let element"> {{element.RefProveedor}} </td>
          </ng-container>          
      
          <ng-container matColumnDef="Precio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
            <td mat-cell *matCellDef="let element"> {{element.Precio}} </td>
          </ng-container>
      
          <ng-container matColumnDef="PrecioRebajado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio Rebajado </th>
            <td mat-cell *matCellDef="let element"> {{element.PrecioRebajado}} </td>
          </ng-container>
      
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
            <td mat-cell *matCellDef="let element">
              <div class="table-button-row">
               <!-- <a mat-flat-button color="primary" routerLink="/products/Form" [queryParams]="{Id: element.ID}">Editar</a>-->
      
                <button mat-button color="primary" (click)="onSelectArt(element)">Seleccionar</button>
               </div>
      
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[2,5]" showFirstLastButtons></mat-paginator>
      </div>
      
    </div>
<ng-container class="AddArticulos" *ngIf="selectedCodCli && createHead">
  <mat-card>
      
      <mat-card-content>
          <form
          class="needs-validation"
          novalidate
          [formGroup]="artForm"
          (ngSubmit)="onAddArt()">
 <!--       <mat-form-field class="inputMedium" *ngIf = "product" appearance="fill">
            <mat-label>Artículo</mat-label>
            <mat-select formControlName="CodArt" (selectionChange)="onChangeArt($event)" placeholder="Selecciona un artículo" [(value)]="selectedCodArt">
              <mat-option *ngFor="let art of product" [value]="art.ID">
                {{art.ID}}
              </mat-option>
            </mat-select>
        </mat-form-field>-->
          <mat-form-field class="inputBig" hintLabel="Max. 150 caracteres" appearance="fill">
            <mat-label>Descripcion</mat-label>
            <input formControlName="Descripcion" matInput [ngClass]="{'is-invalid': isValidFieldArt('Descripcion')}">
              <div class="invalid-feedback">
              <span class="span-errors" *ngIf="artForm.get('Descripcion').errors?.required">
                  El nombre es obligatorio.
              </span>
            </div>
          </mat-form-field>
          <mat-form-field class="inputSmall" appearance="fill">
            <mat-label>Cantidad</mat-label>
            <input formControlName="Cantidad" matInput [ngClass]="{'is-inalid': isValidFieldArt('Cantidad')}" min=0 step=1>
            <div class="invalid-feedback">
              <span class="span-errors" *ngIf="artForm.get('Cantidad').errors?.required">
                El nombre es obligatorio.
              </span>
              <span class="span-errors" *ngIf="artForm.get('Cantidad').errors?.pattern">
                Caracteres no válidos.
              </span>
            </div>
          </mat-form-field>
          <mat-form-field class="inputSmall" appearance="fill">
            <mat-label>Precio</mat-label>
            <input formControlName="Precio" matInput [ngClass]="{'is-invalid': isValidFieldArt('Precio')}">
            <div class="invalid-feedback">
              <span class="span-errors" *ngIf="artForm.get('Precio').errors?.required">
                El nombre es obligatorio.
              </span>
              <span class="span-errors" *ngIf="artForm.get('Precio').errors?.pattern">
                Caracteres no válidos.
              </span>
            </div>
          </mat-form-field>
          <mat-form-field class="inputSmall" appearance="fill">
            <mat-label>Dto. comercial</mat-label>
            <input matInput
              formControlName="DtoC"
              type="number"
              min=0 max=100 step=0.01
              [ngClass]="{'is-invalid': isValidFieldArt('DtoC')}"
              [(value)]="selectedDtoComercial"
              >
              <div class="invalid-feedback">
                <span class="span-errors" *ngIf="artForm.get('DtoC').errors?.required">
                  Dto. comercial es obligatorio.
                </span>
                <span class="span-errors" *ngIf="artForm.get('DtoC').errors?.pattern">
                  Caracteres no válidos.
                </span>
                <span class="span-errors" *ngIf="artForm.get('DtoC').errors?.min">
                  Valor mínimo permitido 0.
                </span>
                <span class="span-errors" *ngIf="artForm.get('DtoC').errors?.max">
                  Valor máximo permitido 100.
                </span>
              </div>
          </mat-form-field>
          <mat-card-actions align="medium">
          <button mat-raised-button color="primary"
            type="submit"
            class="btn btn-primary btn-lg"
            [disabled]="artForm.invalid || !createHead"
          >
            Añade al pedido
          </button>
        </mat-card-actions>
        </form>
      </mat-card-content>
  <!--    <mat-card-actions align="medium">

      </mat-card-actions>
      <mat-card-footer>
        <p>Linea añadida</p>
      </mat-card-footer>-->
  </mat-card>
</ng-container>
<pre>
  Dirty:
  head: {{ headForm.dirty }}
  art: {{ artForm.dirty }}
</pre>
<pre>
  touched:
  {{ headForm.touched }}
  {{ artForm.touched }}
</pre>
<pre>
  Value:
  {{ headForm.value | json }}
  {{ artForm.value | json }}

</pre>
<pre>
  Status:
  {{ headForm.status }}
  {{ artForm.status }}
</pre>
<pre>
  Valid:
  {{ headForm.valid }}
  {{ artForm.valid }}
</pre>
<pre>
  InValid:
  {{ headForm.invalid }}
  {{ artForm.invalid }}
</pre>
