<mat-card class="button">
  <a mat-raised-button color="accent" routerLink="/pedidos" >Listado de pedidos</a>
</mat-card>
<ng-container class="vista" *ngIf="viewmode">
    <form class="headview" [formGroup]="headviewForm">
    <mat-card>
        <mat-card-header>
            <mat-card-title justify-content="center" >Datos del pedido</mat-card-title>
        </mat-card-header>
        <mat-card-content >
          <div class="datosBasicos">
            <mat-list>
              <mat-list-item><b>Nº Pedido:&nbsp;&nbsp;</b>{{headviewForm.get('NumPed').value}}</mat-list-item>
              <mat-list-item><b>Fecha:&nbsp;</b>{{headviewForm.get('Fecha').value | date:'dd/MM/yyyy'}}</mat-list-item>
              <mat-list-item><b>Fecha de entrega: </b>{{headviewForm.get('FechaEntrega').value | date:'dd/MM/yyyy'}}</mat-list-item>
              <br>
              <mat-list-item><b>Estado:&nbsp;</b>{{headviewForm.get('Estado').value}}</mat-list-item>
              <mat-list-item><b>Total pedido:&nbsp;</b>{{headviewForm.get('Total').value | currency:'EUR'}}</mat-list-item>
              <br>
              <mat-list-item><b>Comercial:&nbsp;</b>{{headviewForm.get('Comercial').value}}</mat-list-item>
              <mat-list-item><b>Forma de pago:&nbsp;</b>{{headviewForm.get('DescripcionFormaPago').value}}</mat-list-item>
            </mat-list>

          </div>
          <div class="datosCliente">
            <h1>Datos del cliente</h1>
            <hr>
            <mat-list>
                <mat-list-item>{{headviewForm.get('NombreCliente').value}}</mat-list-item>
                <mat-list-item>{{headviewForm.get('Direccion').value}}</mat-list-item>
                <mat-list-item>{{headviewForm.get('Localidad').value}}</mat-list-item>
                <mat-list-item>({{headviewForm.get('CodPostal').value}}&nbsp;&nbsp;{{headviewForm.get('Provincia').value}}</mat-list-item>
            </mat-list>
          </div>
<!--
              <mat-form-field>
                <mat-label [ngStyle]="{'font-weight': 'bold'}">Nº Pedido</mat-label>
                <input matInput formControlName="NumPed" type="number" [readonly]="true">
              </mat-form-field>
              <mat-form-fiel>
                <mat-label [ngStyle]="{'font-weight': 'bold'}">Fecha</mat-label>
                <input matInput formControlName="Fecha" [value]="headviewForm.get('Fecha').value | date:'dd/MM/yyyy'" [readonly]="true">
              </mat-form-fiel>
              <mat-form-fiel>
                <mat-label [ngStyle]="{'font-weight': 'bold'}">Fecha de Entrega</mat-label>
                <input matInput formControlName="FechaEntrega" [value]="headviewForm.get('FechaEntrega').value | date:'dd/MM/yyyy'" [readonly]="true">
              </mat-form-fiel>
              <mat-form-fiel>
                <mat-label [ngStyle]="{'font-weight': 'bold'}">Comercial</mat-label>
                <input matInput formControlName="Comercial" type="text" [readonly]="true">
              </mat-form-fiel>
              <mat-form-fiel>
                <mat-label [ngStyle]="{'font-weight': 'bold'}">Forma de pago</mat-label>
                <input matImput formControlName="DescripcionFormaPago" type="text" [readonly]="true">
              </mat-form-fiel>-->
        </mat-card-content>
        <mat-card-footer>
          <h1>Observaciones</h1>
          {{headviewForm.get('Observaciones').value}}
        </mat-card-footer>
    </mat-card>
  </form>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSourceViewlines" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="Imagen">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Imagen </th>
        <td mat-cell *matCellDef="let element">
          <img src={{element.Imagen}}  style="max-width:100%;width:auto;height:auto;"/>
        </td>
      </ng-container>
      <ng-container matColumnDef="CodArticulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Artículo </th>
        <td mat-cell *matCellDef="let element"> {{element.CodArticulo}} </td>
      </ng-container>

      <ng-container matColumnDef="Descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.Descripcion}} </td>
      </ng-container>

      <ng-container matColumnDef="Cantidad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
        <td mat-cell *matCellDef="let element"> {{element.Cantidad}} </td>
      </ng-container>

      <ng-container matColumnDef="Precio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
        <td mat-cell *matCellDef="let element"> {{element.Precio | currency:'EUR'}} </td>
      </ng-container>

      <ng-container matColumnDef="DtoC">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> %Dto. </th>
        <td mat-cell *matCellDef="let element"> {{element.DtoC}} </td>
      </ng-container>

      <ng-container matColumnDef="SubTotal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Neto </th>
        <td mat-cell *matCellDef="let element"> {{element.SubTotal | number}} </td>
      </ng-container>

      <ng-container matColumnDef="DtoPP">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> %Dto.PP </th>
        <td mat-cell *matCellDef="let element"> {{element.DtoPP}} </td>
      </ng-container>

      <ng-container matColumnDef="BaseImponible">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Base imponible </th>
        <td mat-cell *matCellDef="let element"> {{element.BaseImponible | number}} </td>
      </ng-container>

      <ng-container matColumnDef="IVA">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> %IVA </th>
        <td mat-cell *matCellDef="let element"> {{element.IVA}} </td>
      </ng-container>
<!--
      <ng-container matColumnDef="ImporteIVA">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Importe </th>
        <td mat-cell *matCellDef="let element"> {{element.ImporteIVA | currency:'EUR'}} </td>
      </ng-container>
-->
      <ng-container matColumnDef="RE">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> %RE. </th>
        <td mat-cell *matCellDef="let element"> {{element.RE}} </td>
      </ng-container>
<!--
      <ng-container matColumnDef="ImporteRE">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Importe </th>
        <td mat-cell *matCellDef="let element"> {{element.ImporteRE | currency:'EUR'}} </td>
      </ng-container>
-->
      <ng-container matColumnDef="Total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
        <td mat-cell *matCellDef="let element"> {{element.Total | number}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumnViewlines"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnViewlines;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5,10,25]" showFirstLastButtons></mat-paginator>
</div>

</ng-container>
<ng-container class="vista" *ngIf="!viewmode">
  <ng-container>
      <form
      class="needs-validation"
      novalidate
      [formGroup]="headForm"
      (ngSubmit)="onSubmitHead()"
      ng-readonly="createHead">
          <mat-card>
              <mat-card-content>
                  <section>
                      <mat-form-field class="inputSmall" appearance="fill">
                          <mat-label>Serie</mat-label>
                          <mat-select formControlName="Serie" placeholder="Selecciona una serie" [(value)]="selectedSerie">
                            <mat-option *ngFor="let item of serie" [value]="item.value">
                              {{item.viewValue}}
                            </mat-option>
                          </mat-select>
                      </mat-form-field>
                      <mat-form-field class="inputBig" *ngIf = "customer" appearance="fill"  >
                          <mat-label>Cliente</mat-label>
                          <mat-select formControlName="CodCli" (selectionChange)="onChangeCustomer($event)" placeholder="Selecciona un cliente" [(value)]="selectedCodCli">
                            <mat-option *ngFor="let item of customer" [value]="item.IdCliente">
                              {{item.Nombre}}
                            </mat-option>
                          </mat-select>
                      </mat-form-field>
                      <mat-form-field class="inputSmall" appearance="fill">
                          <mat-label>Dto. pronto pago</mat-label>
                          <input matInput
                            formControlName="DtoPP" type="number" min=0 max=100 step=0.01>
                      </mat-form-field>

                      <mat-form-field class="inputMedium" *ngIf = "payments$" appearance="fill"  >
                          <mat-label>Forma de pago</mat-label>
                          <mat-select formControlName="CodFormaPago" placeholder="Selecciona una forma de pago" [(value)]="selectedPayment">
                            <mat-option *ngFor="let pay of payments$ | async" [value]="pay.IdFormaPago">
                              {{pay.Nombre}}
                            </mat-option>
                          </mat-select>
                      </mat-form-field>
                  </section>
                  <mat-form-field class="textarea-full-width" appearance="fill">
                      <mat-label>Observaciones</mat-label>
                      <textarea formControlName="Observaciones" matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="50">
                      </textarea>
                  </mat-form-field>

              </mat-card-content>
              <button mat-raised-button color="primary"
              type="submit"
              class="btn btn-primary btn-lg"
              [disabled]="headForm.invalid || createHead"

            >
              Grabar
            </button>
          </mat-card>
      </form>
  </ng-container>
  <div class="AddArt">
    <div class="findArt">
        <mat-form-field >
          <mat-label>Búsqueda</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Dígite el texto a buscar" #input>
        </mat-form-field>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="Imagen">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Imagen </th>
              <td mat-cell *matCellDef="let element">
                <img src={{element.Imagen}}  style="max-width:100%;width:auto;height:auto;"/>
              </td>
            </ng-container>

            <ng-container matColumnDef="Articulo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Artículo </th>
              <td mat-cell *matCellDef="let element"> {{element.Articulo}} </td>
            </ng-container>

            <ng-container matColumnDef="Sku">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> SKU </th>
              <td mat-cell *matCellDef="let element"> {{element.Sku}} </td>
            </ng-container>

            <ng-container matColumnDef="refproveedor">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Ref. proveedor </th>
              <td mat-cell *matCellDef="let element"> {{element.refproveedor}} </td>
            </ng-container>

            <ng-container matColumnDef="Precio">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
              <td mat-cell *matCellDef="let element"> {{element.Precio}} </td>
            </ng-container>

            <ng-container matColumnDef="PrecioRebajado">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio Rebajado </th>
              <td mat-cell *matCellDef="let element"> {{element.PrecioRebajado}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
              <td mat-cell *matCellDef="let element">
                <div class="table-button-row">
                  <button mat-button color="primary" (click)="onSelectArt(element)">Seleccionar</button>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[3,6,15,25]" showFirstLastButtons></mat-paginator>
    </div>

    </div>
      <ng-container class="AddArticulos" *ngIf="selectedCodCli && createHead">
        <mat-card>
            <mat-card-content>
                <form
                class="needs-validation"
                novalidate
                [formGroup]="artForm"
                (ngSubmit)="onAddArt()">
                <mat-form-field class="inputBig" appearance="fill">
                  <mat-label>Descripcion</mat-label>
                  <input formControlName="Descripcion" matInput [ngClass]="{'is-invalid': isValidFieldArt('Descripcion')}">
                    <div class="invalid-feedback">
                    <span class="span-errors" *ngIf="artForm.get('Descripcion').errors?.required">
                        El nombre es obligatorio.
                    </span>
                  </div>
                </mat-form-field>
                <mat-form-field class="inputSmall" appearance="fill">
                  <mat-label>Cantidad</mat-label>
                  <input formControlName="Cantidad" matInput type="number"
                  min=0 step=1 [ngClass]="{'is-inalid': isValidFieldArt('Cantidad')}">
                  <div class="invalid-feedback">
                    <span class="span-errors" *ngIf="artForm.get('Cantidad').errors?.required">
                      El nombre es obligatorio.
                    </span>
                    <span class="span-errors" *ngIf="artForm.get('Cantidad').errors?.pattern">
                      Caracteres no válidos.
                    </span>
                  </div>
                </mat-form-field>
                <mat-form-field class="inputSmall" appearance="fill">
                  <mat-label>Precio</mat-label>
                  <input formControlName="Precio" matInput [ngClass]="{'is-invalid': isValidFieldArt('Precio')}">
                  <div class="invalid-feedback">
                    <span class="span-errors" *ngIf="artForm.get('Precio').errors?.required">
                      El nombre es obligatorio.
                    </span>
                    <span class="span-errors" *ngIf="artForm.get('Precio').errors?.pattern">
                      Caracteres no válidos.
                    </span>
                  </div>
                </mat-form-field>
                <mat-form-field class="inputSmall" appearance="fill">
                  <mat-label>IVA</mat-label>
                  <mat-select formControlName="PorcIVA" placeholder="Selecciona IVA" [(value)]="selectedIVA">
                    <mat-option *ngFor="let vat of typeVat" [value]="vat.value">
                      {{vat.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

<!--                <mat-form-field class="inputSmall" appearance="fill">
                  <mat-label>IVA</mat-label>
                  <input matInput
                    formControlName="PorcIVA"
                    type="number"
                    min=0 max=100 step=0.01
                    [ngClass]="{'is-invalid': isValidFieldArt('PorcIVA')}"
                    [(value)]="selectedIVA"
                    >
                    <div class="invalid-feedback">
                      <span class="span-errors" *ngIf="artForm.get('PorcIVA').errors?.required">
                        Dto. comercial es obligatorio.
                      </span>
                      <span class="span-errors" *ngIf="artForm.get('PorcIVA').errors?.pattern">
                        Caracteres no válidos.
                      </span>
                      <span class="span-errors" *ngIf="artForm.get('PorcIVA').errors?.min">
                        Valor mínimo permitido 0.
                      </span>
                      <span class="span-errors" *ngIf="artForm.get('PorcIVA').errors?.max">
                        Valor máximo permitido 100.
                      </span>
                    </div>
                </mat-form-field>
                -->
                <mat-form-field class="inputSmall" appearance="fill">
                  <mat-label>Dto. comercial</mat-label>
                  <input matInput
                    formControlName="DtoC"
                    type="number"
                    min=0 max=100 step=0.01
                    [ngClass]="{'is-invalid': isValidFieldArt('DtoC')}"
                    [(value)]="selectedDtoComercial"
                    >
                    <div class="invalid-feedback">
                      <span class="span-errors" *ngIf="artForm.get('DtoC').errors?.required">
                        Dto. comercial es obligatorio.
                      </span>
                      <span class="span-errors" *ngIf="artForm.get('DtoC').errors?.pattern">
                        Caracteres no válidos.
                      </span>
                      <span class="span-errors" *ngIf="artForm.get('DtoC').errors?.min">
                        Valor mínimo permitido 0.
                      </span>
                      <span class="span-errors" *ngIf="artForm.get('DtoC').errors?.max">
                        Valor máximo permitido 100.
                      </span>
                    </div>
                </mat-form-field>
                <mat-card-actions align="medium">
                <button mat-raised-button color="primary"
                  type="submit"
                  class="btn btn-primary btn-lg"
                  [disabled]="artForm.invalid || !createHead"
                >
                  Añade al pedido
                </button>
              </mat-card-actions>
              </form>
            </mat-card-content>
            <mat-card-footer>
            <mat-card-subtitle>Líneas añadidas al pedido.</mat-card-subtitle>
            <ng-container >
            <!-- <table mat-table [dataSource]="dataSourceOrder" class="mat-elevation-z8"> -->
              <table mat-table [dataSource]="(linOrder$ | async)" class="mat-elevation-z8">
                <ng-container matColumnDef="CodArticulo">
                  <th mat-header-cell *matHeaderCellDef> Articulo </th>
                  <td mat-cell *matCellDef="let element"> {{element.CodArticulo}} </td>
                </ng-container>

                <ng-container matColumnDef="Descripcion">
                  <th mat-header-cell *matHeaderCellDef> Descripcion </th>
                  <td mat-cell *matCellDef="let element"> {{element.Descripcion}} </td>
                </ng-container>

                <ng-container matColumnDef="Cantidad">
                  <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                  <td mat-cell *matCellDef="let element"> {{element.Cantidad}} </td>
                </ng-container>

                <ng-container matColumnDef="Precio">
                  <th mat-header-cell *matHeaderCellDef> Precio </th>
                  <td mat-cell *matCellDef="let element"> {{element.Precio}} </td>
                </ng-container>

                <ng-container matColumnDef="IVA">
                  <th mat-header-cell *matHeaderCellDef> IVA </th>
                  <td mat-cell *matCellDef="let element"> {{element.IVA}} </td>
                </ng-container>

                <ng-container matColumnDef="DtoC">
                  <th mat-header-cell *matHeaderCellDef> Dto </th>
                  <td mat-cell *matCellDef="let element"> {{element.DtoC}} </td>
                </ng-container>

                <ng-container matColumnDef="DtoPP">
                  <th mat-header-cell *matHeaderCellDef> Dto. PP </th>
                  <td mat-cell *matCellDef="let element"> {{element.DtoPP}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>Acciones</th>
                  <td mat-cell *matCellDef="let element">
                    <div class="table-button-row">
                      <button mat-flat-button color="accent" (click)="onDeleteLine(element)">Borrar</button>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsOrder"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsOrder;"></tr>
              </table>
            </ng-container>
            </mat-card-footer>
        </mat-card>
    </ng-container>
  </div>
</ng-container>
<!--
<pre>
  Dirty:
  head: {{ headForm.dirty }}
  art: {{ artForm.dirty }}
</pre>
<pre>
  touched:
  {{ headForm.touched }}
  {{ artForm.touched }}
</pre>
<pre>
  Value:
  {{ headForm.value | json }}
  {{ artForm.value | json }}

</pre>
<pre>
  Status:
  {{ headForm.status }}
  {{ artForm.status }}
</pre>
<pre>
  Valid:
  {{ headForm.valid }}
  {{ artForm.valid }}
</pre>
<pre>
  InValid:
  {{ headForm.invalid }}
  {{ artForm.invalid }}
</pre>
-->
