<mat-card class="button">
    <a mat-raised-button color="accent" routerLink="/pedidos" >Listado de pedidos</a>
</mat-card>

<ng-container>
    <form       
    class="needs-validation"
    novalidate
    [formGroup]="orderForm"
    (ngSubmit)="onSubmitHead()">
        <mat-card>
            <mat-card-content>
                <section>
                    <mat-form-field class="inputSmall" appearance="fill"  >
                        <mat-label>Serie</mat-label>
                        <mat-select formControlName="Serie" placeholder="Selecciona una serie" [(value)]="selectedSerie">
                          <mat-option *ngFor="let item of serie" [value]="item.value">
                            {{item.viewValue}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="inputBig" *ngIf = "customer" appearance="fill"  >
                        <mat-label>Cliente</mat-label>
                        <mat-select formControlName="CodCli" (selectionChange)="onChangeCustomer($event)" placeholder="Selecciona un cliente" [(value)]="selectedCodCli">
                          <mat-option *ngFor="let item of customer" [value]="item.IdCliente">
                            {{item.Nombre}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="inputSmall" appearance="fill">
                        <mat-label>Dto. pronto pago</mat-label>
                        <input matInput
                          formControlName="DtoPP" type="number" min=0 max=100 step=0.01>
                    </mat-form-field>
        
                    <mat-form-field class="inputMedium" *ngIf = "payments" appearance="fill"  >
                        <mat-label>Forma de pago</mat-label>
                        <mat-select formControlName="CodFormaPago" placeholder="Selecciona una forma de pago" [(value)]="selectedPayment">
                          <mat-option *ngFor="let pay of payments" [value]="pay.IdFormaPago">
                            {{pay.Nombre}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </section>
            </mat-card-content>
        </mat-card>
    </form>
</ng-container>
